body{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-image:url('https://www.mues-tec.de/WebRoot/Store20/Shops/79550038/58E2/4163/5F31/8CE8/C8BF/C0A8/2AB8/4486/Smart_Spiegel_2_-_innovativTV_by_Mues-Tec.jpg');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%
}
h1{
    text-align: center; 
}
h4{
    text-align: center;
    color: white;
}
p{
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
    color: white;
}
