body{
    color:gray;background-color:whitesmoke;
}
.container{
    height:50px;
    width:100%;
    border:2px solid black;
}
#two{
    background-color:red;
    color:white;
}
.one-and-three{
    border-color:green;
    border-width:5px;
}
