body {
    color: blue;background-color: red;
}
p{
    color:purple;
}
.food{
    text-decoration: underline;
}
.family{
    font-weight: bold;
}
.thing{
    color:orange;
}
.something{
    color:yellow;
}
.what{
    color:pink;
}
