body{
    color: blue;background-color: red;
}
div{
    display: inline;
}
span{
    display: block;
}
p{
    color:purple;
}
img{
    height:100px; 
    width:100px;
}
.food{
    text-decoration: underline;
}
.family{
    font-weight: bold;
}
.thing{
    color:orange;
}
.something{
    color:yellow;
}
.what{
    color:pink;
}
.red{
    color:red;
}
.orange{
    color:orange;
}
.yellow{
    color:yellow;
}
.green{
    color:green;
}
.blue{
    color:blue;
}
.indigo{
    color:indigo;
}
.violet{
    color:violet;
}
