body{
    color:gray;background-color:whitesmoke;
}
div{
    display: inline;
}
span{
    display: block;
}
p{
    color:purple;
    text-align: center;
}
h1{
    text-align: center;
}
img{
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
}
.food{
    text-decoration: underline;
}
.family{
    font-weight: bold;
}
.thing{
    color:orange;
}
.something{
    color:yellow;
}
.what{
    color:pink;
}
.red{
    color:red;
}
.orange{
    color:orange;
}
.yellow{
    color:yellow;
}
.green{
    color:green;
}
.blue{
    color:blue;
}
.indigo{
    color:indigo;
}
.violet{
    color:violet;
}

